@import '../styles/variables';

.header {
  background-color: white;

  .navbar {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: flex-end;

    a {
      color: $secondary-color;
      text-decoration: none;
      font-size: 16px;
      margin: 0 15px;

      &:hover {
        font-weight: bold;
      }
    }
  }
}