@import '../styles/variables';

.header {
  background-color: $beige;
  padding: $padding-general;
}

.navbar a {
  color: $marron-fonce;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: $marron-clair;
}
