@import '../styles/variables';

.section {
    padding: 100px 20px;
    text-align: center;
  
    &.home {
      background: linear-gradient(45deg, $primary-color, $secondary-color);
      color: #fff;
  
      .content {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  
    &.about, &.projects, &.skills, &.contact {
      .content {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
  