@import '../styles/variables';

.home-page {
  padding: $padding-general;
  background-color: $beige;
}

.projects-section {
  margin-top: 50px;
  text-align: center;

  h2 {
    color: $marron-fonce;
    margin-bottom: 30px;
  }

  .projects-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}
