@import '../styles/variables';

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    width: 100%;
    padding: 20px 0 20px 0;

    .content {
        display: inline-block;
        text-align: center;
        width: 20%;

        .description-title {
            color: $secondary-color;
            font-weight: bold;
            cursor: pointer;
        }

        .description-text {
            cursor: pointer;
        }

    }

    img {
        margin-left: 10px;
        cursor: pointer;
        width: 30%;
    }

}