@import '../styles/variables';

.text-card {
  background-color: $marron-clair;
  border: 1px solid $marron-fonce;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .text-content {
    margin-top: 15px;

    h3 {
      color: $marron-fonce;
      font-size: 1.5rem;
    }

    p {
      color: $texte-secondaire;
      font-size: 1rem;
    }
  }
}
